.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: end;
	margin-top: 90px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.hello {
	margin: 0 0;
	font-family: 'Arial';
	font-size: 30px;
	line-height: 34px;
	color: #666666;	
}

.person_id {
	color: #000000;
}

.title_change_status {
	color: #0C77BB;
	font-size: 12px;
	line-height: 22px;
	font-family: 'Arial';
	margin-left: 123px;
	text-decoration: underline;
	text-decoration-style: dotted;
}

.tooltip {
	display: flex;
	width: 503px;
  height: 46;
	margin-top: 11px;
	margin-left: 224px;
	margin-right: 0;
	margin-bottom: 0;	
}

.tooltip .tooltiptext {
  width: 503px;
  height: 46;
  background-color: #EAEAEA;
  color: #404040;
  text-align: left;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 22px;
  padding: 12px 12px;
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 3%;
  margin-left: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #EAEAEA transparent;
}

.input_wrapper {
	display: flex;
	margin-left: 12;
	width: 559px;
	height: 31px;
	margin-top: 78px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	align-items: center;
}

.input_title {
	font-family: 'Arial';
	font-size: 21px;
	line-height: 19px;
	font-weight: normal;
	color: #000000;
}

.input_city {
	box-sizing: border-box;
	width: 336px;
	height: 31px;
	border: 1px solid #999999;
	padding-left: 9px;
	margin-left: 120px;
}

.underline {
	width: 990px;
	height: 0px;
	border: 1px solid #E5E4E4;
	margin-top: 32px;
}